.App {
  text-align: center;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

#card {
  box-shadow: 5px 10px;
  width: 180px;
  height: 300px;
}

#visitCard {
  box-shadow: 5px 10px #888888;
  width: 180px;
  height: 300px;
}

div1 {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
